<h3 class="mb-3">Liste des tâches
    <button class="btn btn-primary float-right" [routerLink]="['/', 'tasks', 'add']">Ajouter une tâche</button>
</h3>


<div class="row mb-3">
    <div class="col col-lg-12">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let task of tasks">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{task.title}}</h5>
                    <button class="btn btn-sm btn-secondary" (click)="selectTask(task)">Détail</button>
                </div>
                <small>Créée le {{task.createAt | date: 'dd/MM/yyyy'}} | Modifiée {{task.updateAt | TimeAgo}}</small>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12">
        <fic-task *ngIf="taskSelected" [task]="taskSelected"></fic-task>
    </div>
</div>
